<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sony.banteriorprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.example.sony.banteriorprototype.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.sony.banteriorprototype.permission.C2D_MESSAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/signup_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainInterior.DetailInterior.InteriorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".survey.SurveyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".rent.RentalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".main.community.CommunityContentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".main.community.WriteActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".main.mypage.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.AgreementActivity" />
        <activity android:name=".main.search.ResultActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".main.MainInterior.DetailInterior.DetailInteriorListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider598266196992718"
            android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.sony.banteriorprototype" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.sony.banteriorprototype.GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.sony.banteriorprototype.GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.sony.banteriorprototype.GCM.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
